name: CI/CD Prodution

on:
  release:
    types: [push, pull_request] 
  push:
    branches:    
      - master     

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - 
        uses: actions/checkout@v2
      - 
        name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - 
        name: Build with Maven | Snapshot 
        run: |

          sh ./devops/prod/update-version.sh
  
          mvn -B package --file pom.xml

          git config --local user.email "diegolirio.dl@gmail.com"
          git config --local user.name "GitHub Action"
          git commit -m "Deploy Prod - Canary Release " -a

      - 
        name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - 
        name: Publish to DockerHub
        run: |
          ls target/
          mvn fabric8:build fabric8:push
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - 
        name: Update *.yml Kubernetes
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST_DEPLOY }}
          username: ubuntu
          port: 22
          key: ${{ secrets.KEY_PAIR }}
          source: "devops/prod/*.yml"
          target: "./"

      -       
        name: Deploy Kubernetes
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_DEPLOY }}
          username: ubuntu
          key: ${{ secrets.KEY_PAIR }}
          port: 22
          script: |
            ls
            sudo microk8s.kubectl apply -f devops/prod/digio-kubernetes-service.yml
            sudo microk8s.kubectl apply -f devops/prod/digio-kubernetes-deployment-v1.yml
            sudo microk8s.kubectl apply -f devops/prod/digio-kubernetes-deployment-v2.yml

